* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

:root {
    --green: #00fa9a;
}

@font-face {
    font-family: clockFont;
    src: url(Assets/Clock-font.ttf);
}

@font-face {
    font-family: buttonFont;
    src: url(Assets/Button-font.otf);
}

body {
    background-image: url(Assets/futuristic-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    border: 8px solid var(--green);
    width: 75%;
    min-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    background-color: black;
    transition: 
        background-color 300ms ease-out;
    user-select: none;
}

#clock:hover {
    background-color: rgba(0, 0, 0, 60%);
}

.chars {
    font-family: clockFont, "Cambria";
    font-size: 17rem;
    color: var(--green);
}

.chars.numbers {
    text-align: center;
    width: max-content;
    font-size: 15rem;
    padding: 0 2rem;
}

#button {
    margin-top: 10rem;
    font-family: buttonFont, "Cambria";
    font-size: 2rem;
    letter-spacing: 10px;
    background-color: var(--green);
    border-radius: 10px;
    border: 5px solid transparent;
    padding: 1rem 3rem;
    width: clamp(400px, 30%, 30%);
    cursor: pointer;
    transition: 
        background-color 300ms ease-out,
        border 300ms ease-out,
        color 300ms ease-out;
}

#button:hover {
    background-color: black;
    color: var(--green);
    border: 5px solid var(--green);
}

@media (max-width: 1000px) {
    #clock {
        height: 12rem;
        min-width: 750px;
    }
    .chars {
        font-size: 12rem;
    }
    .chars.numbers {
        font-size: 7rem;
        width: 200px;
    }
    #button {
        font-size: 1.2rem;
    }
}

@media (max-width: 750px) {
    #clock {
        height: 10rem;
        min-width: 580px;
    }
    .chars {
        font-size: 9rem;
    }
    .chars.numbers {
        font-size: 5rem;
        width: 200px;
    }
    #button {
        font-size: 1rem;
    }
}

@media (max-width: 580px) {
    #clock {
        height: 7rem;
        min-width: 380px;
        border: 5px solid var(--green);
    }
    .chars {
        font-size: 5rem;
    }
    .chars.numbers {
        font-size: 4rem;
        width: 200px;
    }
    #button {
        font-size: 0.8rem;
        padding: 1rem 2rem;
        width: clamp(300px, 30%, 30%);
    }
}